.blub {
    padding-top: 50px;
}

.monkeynaam {
    font-family: 'Bangers', cursive;
}

.title {
    color: black;
    font-family: Arial;
}

a {
    color: #ff8400;
}

a:hover {
    text-decoration: none;
    color: #ff6f00;
}